<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #131921;;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="nav-logo">
            <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" alt="" class="nav-logo-img">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="">
                        <div class="location" style="display: flex;">
                            <div class="location-logo"><i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="location-text">
                                <span>Hello</span>
                                <span>select your address</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>
                <li class="nav-item">
                    <a href="">
                        <span>Hello, Sign in</span>
                        <span>Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <span>Return</span>
                        <span>& Order</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <span><i class="fas fa-shopping-cart"></i> 0</span>
                        <span>Cart</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <span>Try</span>
                        <span>Prime</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="header-bottom" style="background-color: #232f3e; height: 40px;">
    <div class="container-fluid">
        <ul style="display: flex;">
            <li class="nav-item nav2">
                <a href="">All</a>
            </li>
            <li class="nav-item nav2">
                <a href=""> Mobile</a>
            </li>
            <li class="nav-item nav2">
                <a href=""> Fashion</a>
            </li>
            <li class="nav-item nav2">
                <a href=""> Shoes</a>
            </li>
            <li class="nav-item nav2">
                <a href="">Electonics</a>
            </li>
            <li class="nav-item nav2">
                <a href="">Home & Kitchen</a>
            </li>
            <li class="nav-item nav2">
                <a href="">Books</a>
            </li>
            <li class="nav-item nav2">
                <a href="">Computers</a>
            </li>
            <li class="nav-item ">
                <a href="https://www.primevideo.com/detail/amzn1.dv.gti.581aac23-d3cc-450f-86ae-162b0ab84a1b/ref_"
                    target="_blank">
                    <img alt="WW84"
                        src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonVideo/2021/X-site/SingleTitle/WW84/Launch/400x39-SWM_With-disclaimer_JPN._CB669638753_.jpg">
                </a>
            </li>
            <li class="nav-item ">
                <a href="https://www.primevideo.com/detail/amzn1.dv.gti.581aac23-d3cc-450f-86ae-162b0ab84a1b/ref_"
                    target="_blank">
                    <img alt="WW84"
                        src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonVideo/2021/X-site/SingleTitle/WW84/Launch/400x39-SWM_With-disclaimer_JPN._CB669638753_.jpg">
                </a>
            </li>
        </ul>
    </div>
</nav>